@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.ttf');
}

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: 0 auto;
}

.form {
    max-width: 360px;
}

.form, .admin-box {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form, .admin-box, .add-zone {
    position: relative;
    z-index: 1;
    background: var(--content-background);
    margin: 0 auto 40px;
    padding: 45px;
    text-align: center;
}

.login-page h1 {
    font-family: 'Open Sans', sans-serif;
    color: var(--content-background);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3.2em;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #555 3px 2px 0;
    position: relative;
    margin-bottom: 20px;
}

.form input, .form select {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select {
    border: var(--content-background) 1px solid;
}

.form .sub {
    text-transform: uppercase;
    outline: 0;
    background: var(--main-background);
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--content-background);
    font-size: 14px;
    cursor: pointer;
}

.form .sub:hover, .form .sub:active, .form .sub:focus {
    background: var(--main-hover);
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #0042a4;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

#body {
    background: var(--main-background); /* fallback for old browsers */
    background: -webkit-linear-gradient(right, var(--main-background), #0042a4);
    background: -moz-linear-gradient(right, var(--main-background), #0042a4);
    background: -o-linear-gradient(right, var(--main-background), #0042a4);
    background: linear-gradient(to left, var(--main-background), #0042a4);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}